.imagcoma-copyright-text {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
    font-style: italic;
    text-align: center;
}

.imagcoma-media-list {
    margin: 20px 0;
}

.imagcoma-media-list ul {
    list-style: none;
    padding: 0;
}

.imagcoma-media-list li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
}